{% load static %}
{% include 'navbar.html'%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" type="text/css" , href="../static/css/home.css">

    <title>Document</title>
</head>

<body>
    <h1>Hello World!</h1>


    <div class="formss">
        <form action="" method="POST">
            {% csrf_token %}

            <div class="formdata">

                <label for="firstname">First Name = <input type="text" placeholder="firstname" id="firstname" name="firstname"></label>
                
<br>
                <label for="lastname">Last Name =<input type="text" id="lastname" placeholder="lastname" name="lastname"></label>
                <br>

                <label for="phone">Phone Number =<input type="text" id="phone" placeholder="phone" name="phone"></label>
                
                <br>
                <label for="email">Email =<input type="email" id="email" placeholder="email" name="email"></label>
                
                <br>

                <!-- <label for="Photo">Photo =<input type="file" name="photo" id="photo" value="photo" ></label> -->
                
                <br>
                <button onclick="Submit" class="button">Submit</button>
                <br>

            </div>

        </form>

    </div>
</body>

</html>